[2016-09-01 07:04] flurick opened #1 "Gateway activates when using the system key to move windows"

[2016-09-01 09:14] vicr123 commented on #1
Ok, maybe I'll add a toggle to the settings asking if the super key should open the gateway. Thanks for your suggestion :)

[2016-09-02 13:17] flurick commented on #1
I don't mind opening it with super, but it matters if I just tap that one key or if I am trying to do something else like move a window.

[2016-09-03 11:55] vicr123 commented on #1
Ok. I'll look into making the super key (and other hotkeys) activate when the key is released, rather than when it is pressed. Thanks :)

[2016-09-08 10:59] vicr123 commented on #1
Unfortunately I couldn't make theShell let go of the hotkey unless the Gateway doesn't open. I've put a toggle in the settings (which you can access by clicking on one of the labels on the top of the bar) to make theShell not capture the super key on startup. :)

The change was pushed to the blueprint branch and should come out in the next release of theShell.

[2016-09-08 10:59] #1 closed, assigned to vicr123

[2016-11-24 20:24] Maaajaaa opened #2 "Missing dependencies"
I tried to built it on Ubuntu 16.10 but figured out that **some dependencies are missing in your README**:
- libsystemd
- libakonadi
- libcups
I also couldn't figure out which ubuntu package of akonadi is the right one.
Mattis

[2016-11-24 20:30] vicr123 commented on #2
Ahh, thanks. I'll update that as soon as I can. What versions of Akonadi are there? :)

[2016-11-24 20:39] Maaajaaa commented on #2
There are:

- libakonadi-dev (doesn't work, have tried it)
- libkf5akonadi-dev
- libkf5akonadi-dev-bin
- libkf5akonadicalendar-dev
- llibkf5akonadicalendar-dev
- libkf5akonadimime-dev
- libkf5akonadinotes-dev
...
[more](http://packages.ubuntu.com/search?suite=default&section=all&arch=any&keywords=akonadi+dev&searchon=names)

[2016-11-24 20:48] vicr123 commented on #2
I think libkf5akonadi-dev should work. I'll also put on the README that if there are KDE 4 and KDE 5 libraries in the repositories, they should get the KDE 5 versions. :)

[2016-11-24 20:49] Maaajaaa commented on #2
just rerun make with  libkf5akonadi-dev but it doesn't work yet.

[2016-11-24 20:50] vicr123 commented on #2
What error are you getting?

[2016-11-24 20:50] Maaajaaa commented on #2
`thewaveworker.h:30:29: fatal error: akonadi/control.h: No such file or directory`

[2016-11-24 20:52] vicr123 commented on #2
Does `/usr/include/KF5/AkonadiCore/control.h` exist on your system?

Oh, and thanks for telling me about these depencencies. I'm horrible at tracking them. :)

[2016-11-24 20:54] Maaajaaa commented on #2
Yes it is there.

[2016-11-24 20:59] vicr123 commented on #2
OK, I worked it out. Turns out I was using KDE4 PIM libraries rather than KF5.

Could you try opening `thewaveworker.h` and up the top, near the bottom of the `#include`s, replace

`#include <akonadi/control.h>`
`#include <akonadi/servermanager.h>`
`#include <akonadi/session.h>`

with
`#include <KF5/AkonadiCore/control.h>`
`#include <KF5/AkonadiCore/servermanager.h>`
`#include <KF5/AkonadiCore/ses

[2016-11-24 20:59] Maaajaaa commented on #2
Fixed it by changing the include to `include <KF5/AkonadiCore/control.h>` but there should be a better solution like a soft-link or an option for make.

[2016-11-24 21:00] vicr123 commented on #2
Cool. I'll commit that change as soon as I am able to. Thanks. :)

[2016-11-24 21:26] Maaajaaa commented on #2
I figured out some more required libs/packages:
- libxcb-utils-dev
- libxcursor-dev
but now I'm hanging at some different kind of error:
`mainwindow.cpp:607:51: error: no matching function for call to ‘QAction::QAction()’
                     QAction* action = new QAction();`
btw: can't aur tell you the required build-depencies?

[2016-11-24 21:48] vicr123 commented on #2
Thanks, I'll take a look. Sorry about all the build issues.

Can you try adding `#include <QAction>` at the top of mainwindow.h? You are using Qt 5, correct? :)

No, `namcap` doesn't work for me. :(

[2016-11-24 22:05] SparkyCola commented on #2
I figured out some more required libs/packages:
- libxcb-utils-dev
- libxcursor-dev
but now I'm hanging at some different kind of error:
`mainwindow.cpp:607:51: error: no matching function for call to ‘QAction::QAction()’
                     QAction* action = new QAction();`
btw: can't aur tell you the required build-depencies?

[2016-11-24 22:09] Maaajaaa commented on #2
The error suggested: `QAction(QObject *parent)` and some more. I tried `QAction* action = new QAction(this);` which made make work but it hung on start (I also have to install the dependencies made by you). And yes I use Qt 5.

[2016-11-24 22:12] Maaajaaa commented on #2
Anyway I followed your suggestion and here's the full error message (same as before I did change the line):
mainwindow.cpp: In member function ‘void MainWindow::updateMpris()’:
mainwindow.cpp:607:51: error: no matching function for call to ‘QAction::QAction()’
                     QAction* action = new QAction();
                                                   ^
In file included from /usr/inclu

[2016-11-24 22:18] vicr123 commented on #2
Can you try `QAction* action = new QAction(NULL);` please? parent should be an optional parameter, but for some reason your system doesn't like it.

[2016-11-24 22:27] Maaajaaa commented on #2
I checked the Qt documentation which says it's not optional (might have changed during some versions, I have Qt5.6.1)

[2016-11-24 22:29] vicr123 commented on #2
Hmm... In my QAction header, I have `explicit QAction(QObject *parent = nullptr);` Either way, I think I might initialize my QAction objects from now on. (Qt 5.7, but definitely had no problems when I was usinig Qt 5.6) Thanks :)

Does it build now? :)

[2016-11-24 22:33] Maaajaaa commented on #2
Build runs with both the `QAction(this)` and `QAction(NULL)`.

[2016-11-24 22:35] vicr123 commented on #2
Thanks. I'll push commits with the changes as soon as I can. :)

[2016-11-24 22:35] #2 closed, assigned to vicr123

[2017-01-28 05:27] Technohacker opened #3 "ldconfig: /usr/lib/libthe-libs.so.1 is not a symbolic link"
This message pops up after the installation of the `theLibs` AUR package. Might not be an error but just wanted to let you know :)

[2017-01-28 05:55] vicr123 commented on #3
Is this after building or after installing? :)

[2017-01-28 06:40] Technohacker commented on #3
from what i remember, it was after it installs the libraries, during `ldconfig` :)

[2017-02-05 11:53] vicr123 commented on #3
Was this when the-libs was installing or when theShell was installing? :)

[2017-02-05 13:10] Technohacker commented on #3
@vicr123 when the-libs is installing :)

[2017-03-11 00:00] funnypup opened #4 "No Hidden Network Button"
As the title says, there is no hidden network button. People who don't know how to do things in Linux would be kinda stuck.

[2017-04-11 08:42] vicr123 opened #7 "Test Bug Title"
This is a test bug created to test the new ts Bugreporting program.

[2017-04-11 08:55] Technohacker commented on #7
Bugreporter works! 😀

[2017-04-11 08:55] vicr123 commented on #7
This is a test comment created to test the new ts Bugreporting program

@Technohacker Thanks! :D

[2017-04-11 11:27] colorfulchair commented on #7
@vicr123 Ping! :P

[2017-04-11 11:34] vicr123 commented on #7
@aren-cllc Thanks! :D

[2017-04-11 12:22] vicr123 commented on #4
Ok, I'll see what I can do about that very soon. I estimate this to be done by theShell 6.2 :)

[2017-04-11 15:13] vicr123 commented on #7
Testing Markdown...

*italic*
**bold**
`code`
**bold with *italic* text**
*italic with **bold** text*

`code with *markdown* **inside**`

[2017-04-11 15:48] #7 closed, assigned to nobody

[2017-04-12 04:21] vicr123 commented on #7
[code]

[2017-04-12 05:37] vicr123 opened #8 "NetworkManager"
theShell crashes if NetworkManager is not running on the system.

Expected fix version: theShell 6.2

[2017-04-21 02:22] ByteOfMelon commented on #7
This is a test comment.

[2017-04-21 02:23] vicr123 commented on #7
@TheRandomMelon Your test comment seems to work :D

[2017-04-21 02:24] ByteOfMelon commented on #7
@vicr123 🥇

[2017-04-22 04:16] Vrabbers commented on #7
ew curly braces on same line

[2017-04-22 05:25] Technohacker commented on #7
@Vrabbers I prefer that style of code :P

[2017-04-23 18:20] OfficialRain opened #9 "Ahead of Time"
theWave always goes one thing over what time unit it's on.

Examples:
5 seconds = 6 seconds
5 minutes = 6 minutes
5 hours = 6 hours

[2017-04-23 18:21] OfficialRain commented on #7
I wanna make a test comment :P

[2017-04-23 18:21] OfficialRain commented on #9
When setting a timer I forgot to mention

[2017-04-23 23:15] vicr123 commented on #9
Ok, I'll look into this.

[2017-04-24 11:35] Technohacker commented on #9
Would seem like an OBOE

[2017-04-27 09:09] FriendsNone opened #10 "theGateway Docking/Undocking Issue"
If I try to dock/undock an app it doesn't work, until you logout. :)

[2017-04-29 05:39] OfficialRain commented on #9
Could be anything honestly.

[2017-05-06 08:58] vicr123 opened #11 "Hitting ESC cancels onboarding"
Hitting the ESC key cancels the onboarding so some settings may not be set up properly.

[2017-05-13 23:46] MrDiamond123 commented on #3
I know a fix. When I was installing/building theShell the first thing it was building was tsscreenlock, change it so it builds the-libs builds first.

(How I fixed it myself was by getting the-libs 1st then installing theShell)

[2017-05-16 21:13] Mom-Assistance opened #13 "qmake and make command"
Where can I get qmake, and the make command gives back "make: *** No targets specified and no makefile found.  Stop." qmake gives "qmake: could not exec '/usr/lib/x86_64-linux-gnu/qt4/bin/qmake': No such file or directory" in Ubuntu.  Just help me with what exactly I need to do to get it running
![image](https://cloud.githubusercontent.com/assets/24907538/26128273/ddd12bc6-3a59-11e7-9c1a-a75e323e7

[2017-05-17 03:57] Technohacker commented on #13
You might be looking for CMake, not qmake

sudo apt install cmake

[2017-05-17 05:39] vicr123 commented on #13
@Mom-Assistance You probably don't have Qt 5 installed. I'm not quite sure what the packages you'll need on Ubuntu are, but as long as they provide the Qt 5 libraries and build system, they should be ok. :)

[2017-05-17 14:41] Mom-Assistance commented on #13
I think I found the place to get the libraries https://download.qt.io/archive/qt/5.8/5.8.0/

[2017-05-17 14:53] Technohacker commented on #13
@Mom-Assistance you might want to use the package manager instead

[2017-05-18 09:02] Mom-Assistance commented on #13
Ok, I'll keep looking at what i can do to get it working.  @vicr123  can I have a link to theShell discord server my old account got hacked

[2017-05-18 09:09] vicr123 commented on #13
@Mom-Assistance https://discord.gg/g2XgKRH is the link you're looking for. :)

[2017-05-18 21:36] ThePixelPolygon opened #14 "Volume hotkey bug"
If your keyboard has volume hotkeys, you can raise the volume past 100%

Screenshot:
![screenshot17-34-55-2017-05-18](https://cloud.githubusercontent.com/assets/28792503/26224454/6cbef5e2-3bf0-11e7-883f-6a5e120b4404.png)

[2017-05-18 23:20] ThePixelPolygon opened #15 "Icons don't show in system programs"
Some icons appear to be missing from theShell in system applications such as Dolphin and System Settings.

[2017-05-19 05:11] vicr123 commented on #14
@ThePixelPolygon This is intended behaviour.

[2017-05-19 05:11] #14 closed, assigned to nobody

[2017-05-21 14:21] MrDiamond123 opened #16 "theShell breaks after closing Kodi"
I was running Kodi but when i got out of it theShell "breaks"

theBar is missing, theSettings don't appear

It starts working when you restart though.

[2017-05-21 14:22] MrDiamond123 opened #17 "theGateway doesn't update"
When I install a program, theGateway doesn't update its app list.
You have to restart for the new apps to appear.

[2017-06-03 05:25] funnypup opened #19 "No h:mm option"
Heya. Just saying, there should be an option to go to h:mm for us Americans. Because to some of us, 13:04 doesn't make sense, but 1:04 PM makes perfect sense! Hope this gets added <3

[2017-06-07 12:30] vicr123 commented on #19
Added in latest Blueprint version. :)

[2017-06-07 12:30] #19 closed, assigned to vicr123

[2017-06-07 12:31] vicr123 commented on #15
Is this related to theShell OS or just theShell? I don't seem to have any issues on my current computer running theShell.

[2017-06-07 13:33] vicr123 commented on #10
@FriendsNone Fixed in the latest Blueprint version. :)

[2017-06-07 13:33] #10 closed, assigned to vicr123

[2017-06-07 13:53] vicr123 commented on #17
Fixed in latest Blueprint commit. :)

[2017-06-07 13:53] #17 closed, assigned to vicr123

[2017-06-07 13:53] vicr123 commented on #13
I'm going to go ahead and close this issue.

[2017-06-07 13:53] #13 closed, assigned to nobody

[2017-06-08 11:18] FriendsNone opened #20 "Summoning Gateway during a Auth prompt"
Apperantly you can summon the Gateway while in a Auth prompt.

[2017-06-08 11:21] FriendsNone opened #21 ""Choose Background" not appearing in the Bar when minimized."
The only way to get "Choose Background" back is to Alt+Tab

[2017-06-08 11:49] FriendsNone commented on #19
tslockscreen and Clock are still 24h

[2017-06-09 02:27] bountifulellie commented on #7
hello victor and turtle from the bug reporter
c:

[2017-06-09 11:42] FriendsNone opened #22 ""Clear all notifications" doesn't work."
Even dismissing a notification doesn't work too.

[2017-06-09 13:05] FriendsNone commented on #22
It rarely happens but once it does just logout and log back in and it'll work again

[2017-06-10 03:29] funnypup opened #23 "Add some Gateway transition options!"
Heya! I noticed on multi-monitor setups, the gateway just acts horribly and bleeds onto other monitors during the transition. Maybe make an option for it to just fade? And also, please add an option to make the gateway come up only when pressured by the mouse (Use GNOME's Dash to Dock extension to understand what I mean) Have a nice day!

[2017-06-12 13:56] FriendsNone commented on #23
You mean the Bar?

[2017-06-30 21:33] samtux opened #24 "Increase the size of text in hidpi screen"
First to congratulate you on this great project, it really was something I was looking for some time ago. I would like to ask how I do to increase the size of the text for hidpi screens?, since the texts are very small.

[2017-07-01 05:47] vicr123 commented on #24
Thanks :D

Does changing the DPI in System Settings > Adjust Screen Resolution > Scale Display do anything? I know I've built hidpi support into theShell, but if that doesn't work, just tell me. :)

What distribution are you using? :)

[2017-07-01 08:06] vicr123 commented on #11
Fixed in 7.0

[2017-07-01 08:06] #11 closed, assigned to nobody

[2017-07-01 10:34] vicr123 commented on #21
Fixed in latest 7.0 blueprint :)

[2017-07-01 10:34] #21 closed, assigned to nobody

[2017-07-02 23:26] samtux commented on #24
The distribution used is Arch Linux, specifically Manjaro Deepin and the installation of **theshell** is through the theshell-blueprint 6.2b-0 package in AUR repository [1]. I tried to use the option that tells me, but it does not work, the option _System Settings > Adjust Screen Resolution > Scale Display_ does not exist in the installed version. Here a screenshot.

[imgur screenshot](http://i.im

[2017-07-03 04:59] vicr123 commented on #24
Ahh, do you have the `kde-cli-tools` package installed? That provides the configuration window for KScreen which theShell uses for screen management :)

[2017-07-05 13:01] FriendsNone opened #25 "Notification sounds resets to default every logout/restart"
(insert text here)

[2017-07-06 23:17] samtux commented on #24
Thanks @vicr123. It does not save scaling changes, but it allows me to change the resolution. This is not saving the changes, so every time I log in I have to change the screen resolution.

[2017-07-07 19:48] ThePixelPolygon opened #26 "Crashing when logging in"
Hi there! I seem to have encountered a bug where theShell crashes when logging in while a laptop is plugged into the wall. When the laptop is running off the battery, it works just fine.

[2017-07-08 00:49] vicr123 commented on #26
Ahh! I know there is currently a major bug where sometimes theShell won't start up properly, and this may be it! I'll do some testing to determine if this is the issue or not. Thanks for the bug report! :D

If this is the same issue then you've solved a problem that's been giving me headaches for a while :D

[2017-07-08 00:50] vicr123 commented on #24
Ahh ok. I'll see about moving away from KScreen in theShell 7.1. :)

[2017-07-30 20:37] MrDiamond123 commented on #16
@vicr123 Any info about this bug?

[2017-08-07 04:33] vicr123 commented on #16
I'll have to get Kodi working on my computer if I want to examine this. I'll take a look soon. :)

[2017-08-12 01:25] Riley-the-dog commented on #26
I think I'm having the same problem, but I'm running it in a virtual box, so I don't know if it can tell the difference between when it's plugged in or on battery.

[2017-08-12 11:19] vicr123 commented on #26
@Riley-the-dog Ahh the problem seems to be resolved in the blueprint version of theShell, and that should make its way to stable soon. :)

And yes, if you're in VirtualBox it can tell if you're running on battery or not :)

[2017-08-16 12:20] vicr123 commented on #3
@Technohacker Should be fixed in the latest `the-libs` version now. :)

[2017-08-16 12:20] #3 closed, assigned to vicr123

[2017-08-17 13:06] Technohacker commented on #3
Works like a charm :D

[2017-08-20 08:32] Nevvulo opened #28 "Screenshot functionality should check if a screenshot window is already open before opening a new one."
When pressing `PRT SC` (print screen) on the keyboard, it'll open a new `screenshotWindow`. However, if you press `PRT SC` again whilst you have the screenshot window open, it'll open another new `screenshotWindow`. I think there should be precautions/checks put in place to check if a `screenshotWindow` already exists before creating a new one to prevent issues and things like this from happening:

[2017-08-27 13:36] MrDiamond123 commented on #16
I am going to test if it happens "now" in a VM both stable and blueprint

[2017-08-27 14:09] MrDiamond123 commented on #28
Well some people use tab and arrow keys to select options of things

Like me sometimes :P So don't disable the keyboard

[2017-08-27 15:59] FriendsNone commented on #28
Maybe disable the PrtSc button?

From: Mr_Diamond123<mailto:notifications@github.com>
Sent: ‎Sunday‎, ‎August‎ ‎27‎, ‎2017 ‎10‎:‎09‎ ‎PM
To: vicr123/theshell<mailto:theshell@noreply.github.com>
Cc: Subscribed<mailto:subscribed@noreply.github.com>

Well some people use tab and arrow keys to select options of things

Like me sometimes :P So don't disable the keyboard

—
You are receiving this becaus

[2017-09-09 06:00] vicr123 commented on #4
Should be added in latest blueprint. :)

[2017-09-09 06:00] #4 closed, assigned to vicr123

[2017-09-09 06:02] vicr123 commented on #25
I shall fix that very soon :P

[2017-09-09 06:29] vicr123 commented on #24
Options have been added to the latest Blueprint and ts-startsession. :)

[2017-09-09 06:29] #24 closed, assigned to nobody

[2017-09-26 03:35] arkag opened #29 "Won't let me unlock"
Can't seem to unlock the computer. Displays what my shell is... Not my username. My correct password doesn't unlock my screen.

[2017-09-26 07:58] vicr123 commented on #29
Is this all on the lock screen?

[2017-09-26 12:09] arkag commented on #29
What do you mean? Sent from ProtonMail mobile -------- Original Message -------- On Sep 26, 2017, 03:58, Victor Tran wrote: Is this all on the lock screen? — You are receiving this because you authored the thread. Reply to this email directly, view it on GitHub, or mute the thread.

[2017-09-26 12:17] vicr123 commented on #29
Where are you having issues unlocking your computer?

For the shell issue, that's been resolved in theShell Blueprint and fixed in the next release.

[2017-09-26 12:18] arkag commented on #29
This is on the lock screen. Turned on via shortcut or by suspending and waking it up again.

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 26, 2017, 08:17, Victor Tran wrote:

[2017-09-26 14:29] arkag commented on #29
@vicr123 I'll get a VM spun up so I can record the issue I'm running into.

[2017-09-26 16:11] arkag commented on #29
Hmm, seems like running it in a VM is causing it to crash, too...

![image](https://user-images.githubusercontent.com/6749810/30871318-6e58f54e-a2b4-11e7-8f8f-b8732bb3fd12.png)

[2017-09-27 04:40] vicr123 commented on #29
What distribution are you running this on? I feel this may be an old version of theShell where it has issues starting up if you have your computer plugged in, which was addressed in theShell 7.0.

[2017-09-27 12:06] arkag commented on #29
Arch

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 27, 2017, 00:40, Victor Tran wrote:

[2017-09-28 12:46] vicr123 commented on #29
What version of theShell are you running?

[2017-09-28 12:49] arkag commented on #29
I was running stable and blueprint. Same issue.

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 28, 2017, 08:46, Victor Tran wrote:

[2017-09-28 13:03] vicr123 commented on #29
Is `tscheckpass` installed on your computer? It should have been a dependency of tsscreenlock, and the executable is located in `/usr/bin/tscheckpass`

[2017-09-28 13:07] arkag commented on #29
I'll have to check later.

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 28, 2017, 09:03, Victor Tran wrote:

[2017-09-28 22:38] arkag commented on #29
@vicr123 running `tscheckpass` gives me a segfault.

[2017-10-01 11:17] vicr123 commented on #22
Should be fixed in Blueprint :)

[2017-10-01 11:17] #22 closed, assigned to vicr123

[2017-10-01 11:18] vicr123 commented on #15
Should be fixed in the latest versions of Contemporary Icons :)

[2017-10-01 11:18] #15 closed, assigned to nobody

[2017-10-01 11:21] vicr123 commented on #26
This issue should be resolved now, go ahead and comment if you're still having this issue :)

[2017-10-01 11:21] #26 closed, assigned to nobody

[2017-10-01 15:36] arkag commented on #29
So after cloning and compiling tscheckpass myself, it seems like it should work now. Don't have time to test right now.

[2017-10-01 15:56] cwre commented on #29
So after cloning and compiling tscheckpass myself, it seems like it should work now. Don't have time to test right now.

[2017-10-01 16:08] arkag commented on #29
Still does not work after recompiling and replacing original binary.

[2017-10-02 02:55] vicr123 commented on #29
Your password was set when you installed Arch using `passwd`, or it was set using the systemd accounts daemon correct?

[2017-10-02 02:58] arkag commented on #29
Was set using passwd

[2017-10-03 11:23] vicr123 commented on #25
Should be fixed in latest blueprint

[2017-10-03 11:23] #25 closed, assigned to nobody

[2017-10-07 15:16] OfficialRain commented on #7
Is this thing even on (anymore)?

[2017-10-07 19:44] OfficialRain commented on #29
I know this happens if you don't have a password, unless that was already fixed.

[2017-10-07 20:38] OfficialRain opened #32 "Unsaved settings and other bugs"
Upon starting up theShell, my resolution didn't save. Everything looked very broken, so I had to fix it. Some other settings don't save. For example, I like the Fusion theme, but upon restarting, it reverts.

Other things I noticed are that some items appear to cut off. The top part of the bar, the part with the time, all of those items cut off sometimes. The tS logo sometimes looks weird, and at

[2017-10-08 05:47] Nevvulo commented on #32
I'll throw my two cents in to this conversation:
I'll add that I'm not entirely sure why your settings aren't being saved correctly. If you are on the latest update of theShell DE (I'm assuming you are), both Victor and I have recently made changes to `infopanedropdown.cpp`, but I doubt it's got anything to do with it. It's not something I could comment on without more information.

Items being cu

[2017-10-08 05:50] vicr123 commented on #32
Thanks for the report and the suggestions :)

I'm not quite sure what you mean by "You should be able to access the "Terminate and Kill Apps" selection thing when you don't have the option to fullscreen as well." Mind explaining that? :)

[2017-10-10 13:08] Technohacker commented on #7
Yup :P

[2017-10-18 06:37] Nevvulo opened #33 "T̡͐̌͊ͬͣͨ͐̐̀h́̿̽̈́̋̋͠i̧̢̎̒ͤ͡s̷̄͢͠ ͒ͮͫ͂͐͝i̸ͮͣ̊̾ͦͥ̆ͧͩsͧ̈̒̌̚ ̢ͩͪͪ͐ͩ̉̐ͭaͭ͑ͪ́͏ ̈̂̚ź͗̓̽̇͐̓͆͢a̸̎͑̋̈́̓ͥͪlͫ̒͊̇ͧ͂̐̕g̋̓̄̋͊̍̇ͤ͠õ̒̾҉̷ ͪ̓̊̀҉t͒͏e͛͋s̡ͦͣt́҉̵̸!̒͗̓̏͟"
T̷̅ͭ͌̎͑͗̇̄͒ͩͯͧ̌́̂̑ͧ͗̌̊ͬ͏̸̧̡̀̀͘͢h́̑̍ͣ̃̀̊ͨ̈́ͨ̇̋͋̓̎̅̌̏̏ͦ̄ͪ̍͊ͪ̽̾͋ͣ͐̈́́ͩ̄̄ͧͯ̓͒͊̏̐̏̀̉̆̾̉̔ͣ͑̽̀͗̓̎͛̈́͛̚̚̚̚҉̴̧̨̡́͘͟͢͟҉̵̨̧̀͘͞͡͡͞͏҉̴i̷̸̸̇ͦ͋̍ͯ̔̂̀ͪ̃̔ͩ͋ͬ̐̔̓ͮͮͥ̈ͯͥͧ̏̃̿̅ͧ͂͒̃̌̈̿ͭ̆ͧ̇̽̃̍̓̒̊ͭ̃̇́ͪ̽͒͆ͨ̇̑͊ͨ̉͗͂ͬ̂͂͗ͤ̿ͭ͘͜͠͞s̵̵̢̛̛͛͂͒̇ͯ͂̒̊̈͛̋ͩ̔͋̋͗̽ͫ̒͂̅̓̐̄̄̐̋̒̊̎̐̂̽̎̑̇̄ͮ̀̈́̾ͤͪͤ̔̅̇͂̆́ͤ͋ͧ͗̈̋̀̂̊̏́ͩ̋̄̓̋̂̽̒͂͂̔̒͊̓̒̏ͪͭ͂̎̉̂ͫ̌̃ͣͦ́̀́̚͘͢͞ ̵̸̴̷̸̡̡̧̡̄͛̏̑̈͒̏̊̿ͦͤ̓̀̄͛͗̊̍̇ͪ̌̃̎̀́͘̕͟͜͢͠͞͝͞͡i̓͂͋̃ͭ͂ͦ̉̏̐̊̇͑̊̐̌̏ͮ̏̅ͭͣ͗ͪ͋̍̒̈̂̋͊̎ͣͥͩ̀͋̅͌̉ͨͬ̌ͨ͐̐̍ͮ̓̒͒ͫ̎́ͥ͊̀̉̚

[2017-10-18 06:37] vicr123 commented on #33
Ok, so Zalgo works in GitHub too. Thanks Blake

[2017-10-18 06:37] #33 closed, assigned to nobody

[2017-10-18 06:38] Nevvulo commented on #33
No problem mate. It definitely looks interesting.

[2017-10-20 05:06] Technohacker commented on #33
Oh god XD

[2017-10-21 15:23] TurboWafflz opened #34 "The "Install theShell OS" message stays after installation"
I installed theShell but the "Install theShell OS" stays in the gateway!

[2017-10-21 23:22] vicr123 commented on #34
Known bug; it'll be fixed in the next release.

For now just `sudo rm /usr/bin/install_theos` to fix it :)

[2017-10-28 23:00] MrDiamond123 commented on #16
No info on issue - Closing Issue

[2017-10-28 23:00] #16 closed, assigned to nobody

[2017-11-28 10:07] mqtran01 opened #36 "NULL usage"
Time to make `NULL` into a `nullptr` by convention!

[2017-12-02 21:17] aleksanderxh commented on #8
theShell 6.2 does not exist! And will never, theShell 7.1 is the newest (currently)

[2018-02-13 12:39] Nevvulo commented on #28
Closing this due to old age. @vicr123 has explained that this may be difficult to implement, moreover new screenshot features are being added, so code is probably being refactored.  Let me know if I should re-open this 👍

[2018-02-13 12:39] #28 closed, assigned to nobody

[2018-02-13 12:52] Nevvulo commented on #32
Requesting a close on this. A lot of the issues here have been addressed.

- Like I explained in my previous post, theming issues are to be expected as Victor doesn't handle the third party theme support.
- #9 should really be closed since theWave is now discontinued.
-  #34 (to my knowledge) has been fixed, however some confirmation from @vicr123 on that would be good.
- The timer suggestion you

[2018-02-13 13:04] Nevvulo commented on #20
Would this be considered a bug? I know that opening the Gateway doesn't really serve much functionality, as opening any apps will just result in the authentication prompt overlapping, but generally it doesn't seem catastrophic that you'd be able to do this. In most other operating systems, you can bypass the authentication dialog by tabbing away from it (this is possible in Windows by using `CTRL+

[2018-05-26 11:21] llde opened #38 "TheShell recevice a SIGABRT when starting"
When I try to log into theShell, I receive an error message with the following backtrace:

Signal Received: SIGABRT (Aborted)

0x55c06d73abf2: main ??:0
0x7f56f69838f0: killpg ??:0
0x7f56f698386b: gsignal ??:0
0x7f56f696e40e: abort ??:0
0x7f56f5b8d557: _dbus_abort ??:0
0x7f56f5b83a33: _dbus_warn_check_failed ??:0
0x7f56f5b7312a: dbus_message_new_method_call ??:0
0x7f56f832a17b: QDBusMessage::error

[2018-05-26 12:27] vicr123 commented on #38
Is NetworkManager installed and enabled on your computer? :)

[2018-05-26 14:10] llde commented on #38
Installed but not active as I  use connman for daily usage with Enlightenment.

(I see now that it's marked as dependacy, but I would expect no connection instead of SIGABRT)

[2018-05-27 13:31] vicr123 commented on #38
Ahh yeah, I suspect that might be the reason as I haven't actually put in code that checks if NetworkManager is running hahaha

I'll fix this in the near future :P

[2018-05-28 00:30] vicr123 commented on #9
theWave has been discontinued at this point, so I'm going to close this :)

[2018-05-28 00:30] #9 closed, assigned to nobody

[2018-05-28 00:31] vicr123 commented on #20
Should be fixed in Blueprint :)

[2018-05-28 00:31] #20 closed, assigned to nobody

[2018-06-05 08:16] parhambarzegar opened #39 "qt applications don't work fine on gnome(wayland) after using TheShell"

[2018-06-05 08:21] vicr123 commented on #39
Can I get some more details please? :)

[2018-06-05 11:52] parhambarzegar commented on #39
sure: https://postimg.cc/gallery/idw0nbvy/
environment variables: https://beepaste.io/paste/view/DK2Ig1
i'm also not able to move that window.

[2018-06-05 13:58] vicr123 commented on #39
Does that happen in all Qt applications? Does it happen in Weston? :)

Also, what OS are you using?

[2018-06-05 15:54] parhambarzegar commented on #39
yes. almost doesn't, tough they're window frames are still like in gnome, in gnome they work fine by setting QT_QPA_PLATFORM=xcb

archlinux

[2018-06-06 12:18] vicr123 commented on #39
I'm not quite sure why theShell would get GNOME to set the QT_QPA_PLATFORM variable to something else :thinking:

What is it by default? Over on my machine it's not set so I assume by default it's set to xcb

[2018-06-06 14:49] parhambarzegar commented on #39
Due to my env variables gnome doesn't set any variable related to qt
it is probably xcb by default

It still might be because of plasma😬, I used that too.
isn't there any config file related to qt? except in home, i've tried changing my home.

[2018-06-06 16:16] parhambarzegar commented on #39
and what about kgpg? it autostarts on gnome.
ah this one is probably because of kde.

[2018-06-11 01:45] vicr123 commented on #39
I don't think it's got anything to do with KGpg but you can try turning it off and it might fix it :)

Unfortunately I don't really have much experience with Wayland :(

[2018-06-11 16:03] parhambarzegar commented on #39
I'm sure that it hasn't, that's another issue
thanks anyway :)

[2018-07-09 15:16] llde opened #40 "The backlight controller doesn't work"
I'm having an issue with the backlight controller.
If I move the backlight slider in the topbar, or using the keyboard it doens't have any effect.

Backlight controls works in Enlightenment and KDE.

ArchLinux x64
theShell 8.0
Linux-zen 4.17.5

[2018-07-09 15:55] vicr123 commented on #40
Is `xbacklight` installed? :)

[2018-07-10 07:53] llde commented on #40
Yes.

EDIT: I found that xbacklight is giving me a "No device with backlight property" or similar messsage. I do recall it functioning before however. (MAybe becouse I'm now using amdgpu instead of radeonsi)
I do have a /sys/class/backlight/amdgpu_bl10 fully populated.

I now installed acpilight (that  override xbacklight with a custom  binary) that don't use Xorg at all, but directly the acpi (an

[2018-07-10 11:48] llde opened #41 "Configure- System Setting Module - Desktop Effect doesn't respect theme style."
[
![screenshot13-43-58-2018-07-10](https://user-images.githubusercontent.com/11397728/42507985-8727fd22-8436-11e8-9077-04d0e3ef4843.png)
](url)

As the screenshot show, there is the zone of the options of Desktop effect part that is white despite behing the dark theme.

[2018-07-10 11:50] vicr123 commented on #41
That seems to be an issue with KDE System Settings. Can you see if setting a dark theme in KDE System Settings fixes the issue?

EDIT: For theShell System Settings, you can click on the clock and then in the top right corner there'll be a button that says "System Settings" :)

[2018-07-10 12:00] llde commented on #41
KDE system setting is basically unusable in theShell.

![screenshot14-00-52-2018-07-10](https://user-images.githubusercontent.com/11397728/42508642-bfef8538-8438-11e8-8f0e-fc719cb3b687.png)

[2018-07-10 12:03] vicr123 commented on #41
I feel that KDE System Settings might be hardcoded to use KDE's colour settings so at this point I don't think I have control over this issue, but if you log into KDE and change to a dark theme, and come back into theShell, does the text still appear black?

[2018-07-10 12:05] llde commented on #41
I'm updating the system. I wil try when it end.

[2018-07-10 13:57] llde commented on #41
Setted the theme as Dark Breeze, and text style as Contemporary and the issues seem resolved.

[2018-07-10 13:59] vicr123 commented on #41
Ahh okay, that's a problem for the KDE developers then :)

If you do run into any problems with Qt apps and Contemporary (for example I know Desktop Effects has some issues showing checkboxes and buttons) you can try running it in Breeze by using the command `[app name] --style=breeze` or in your Desktop Effects case `kcmshell5 kwineffects --style=breeze` :)

[2018-07-10 13:59] #41 closed, assigned to nobody

[2018-07-31 08:57] rkunschke commented on #40
I use acpilight and now the xbacklight comand is working normaly but the slider in the panel does not work. any ideas?

[2018-08-07 10:19] llde commented on #40
@rkunschke  The slider works normaly for me using acpi_backlight on ArchLinux.

[2018-11-09 14:12] TheLambdaFunction opened #42 "Hovering on volume bar actually lowers the volume"
Hello,

I noticed that when I hover with the mouse over the volume icon, which then it transforms into the slider, it slightly lowers the volume, even without touching it. If done many time the volume gets considerably low.

I am on Manjaro Linux (Arch) and the bar is in the _minimized mode_ .. I don't know if it's related, but when this happened I had quite a few windows open, making the bar scro

[2018-11-09 21:38] vicr123 commented on #42
Hello,

Thanks for the bug report. Do you have pulseaudio installed on your computer?

[2018-11-12 08:56] TheLambdaFunction commented on #42
Hi,

No problem. Actually I do.. I also got to say that I installed theShell over a Manjaro XFCE.
I also installed it on a KDE Manjaro, and I have to check that on KDE it does not happen (in theory it works, but I never checked for it). Maybe some dependency/config missing? Because if the system has no KDE settings manager, configuring theShell it's a bit chaotic, maybe some more advanced settings

[2018-11-12 10:31] vicr123 commented on #42
Hey,

Turns out I can actually reproduce the problem on my computer after opening pavucontrol and noticing that the volume control knob was moving down.

Thanks for filing this bug hahaha, I don't use the volume knob much because I have hardware keys on my keyboard :)

[2018-11-22 12:18] vicr123 commented on #42
Should be fixed in the latest Blueprint now (7431b22). Thanks for filing this bug :)

[2018-11-22 12:18] #42 closed, assigned to vicr123

[2019-01-02 20:31] Merlin04 opened #44 "Display scaling doesn't apply to apps"
I'm using Ubuntu 18.04 with theShell 7.1.1. I have a 4k display, so I set Screen Scaling to 200%. theShell apps (panel, settings, etc.) follow the scale, but any other application (firefox, tilix, etc) has 100% scale. This makes theShell unusable for me.

[2019-01-13 19:58] vicr123 commented on #44
This might be a GTK issue. I'll have a look into it :)

[2019-03-17 12:21] SolarAquarion opened #45 "translation not there"
Cannot create /home/solaraquarion/build/theshell-blueprint/src/theshell-blueprint-repo/statuscenter/NetworkPane/translations/fr_FR.ts: No such file or directory
make[2]: *** [Makefile:1233: genlang] Error 1
make[2]: Leaving directory '/home/solaraquarion/build/theshell-blueprint/src/theshell-blueprint-repo/statuscenter/NetworkPane'

[2019-03-17 13:18] SolarAquarion commented on #45
fixed by  #9dfdbcad0cf123756fac44130a0a4fcf5f0ead21

[2019-03-17 13:19] #45 closed, assigned to nobody

[2019-03-17 14:01] vicr123 commented on #45
My bad, sorry about that

[2019-08-05 12:39] ghost opened #48 "Segmentation fault when opening"
I just installed TheShell on my computer and it crashes after logging in. I have it running alongside Cinnamon. It comes up with a segmentation fault error. I'm unable to start the setup process.

**Computer**: Dell Inspiron 5570
**Operating system**: Linux Mint 19.1

[2019-08-05 13:53] vicr123 commented on #48
Is there a "View Debugging Information" in the bottom right corner of the crash screen? Can you please send me the contents of that output if it's available.

How did you install theShell?

[2019-08-05 22:59] ghost commented on #48
I installed the stable build of theShell using the Ubuntu 18.04 instructions you have listed on your website. This is the best picture I can get of the debugging information:

![Low quality phone image](https://user-images.githubusercontent.com/20105848/62500087-8ee78c80-b7d4-11e9-96e6-ca73dbba0103.jpg)

I couldn't get a screenshot or paste this anywhere, so this is the best I could get.

[2019-08-06 12:10] vicr123 commented on #48
Can you tell me what version of Qt is installed on the system? Looks like some Qt plugins provided by the repository aren't being loaded correctly.

[2019-08-06 22:37] ghost commented on #48
I have qt version 5.9.5.

[2019-08-09 08:02] vicr123 commented on #48
Sorry about the delay

That's interesting, maybe I need to do a rebuild on my end. Do you know how to attach a debugger like gdb and get a backtrace that way?

[2019-08-13 06:11] ebal5 opened #49 "Where is mouse settings?"
I using theShell 7.1.1 on Ubuntu 18.04.3.
When I want to reverse scroll direction, I can not find the mouse and touch pad settings.
Is there anyway to setting mouse and touch pad?

[2019-08-13 06:17] vicr123 commented on #49
Hi, mouse settings are coming in the next version of theShell (probably theShell 9.0). Unfortunately I won't be able to build that for Ubuntu 18.04 but when Ubuntu 20.04 comes out I'll look into putting packages for it up :)

[2019-11-02 04:54] leocura opened #50 "Many battery power notifications whenever the computer is on AC"
Whenever I plug the AC cable, theShell notifies me of its removal. I simply cannot use it while charging because the notifications keeps popping up.
Could it be hardware? Perhaps, but I don't notice anything like that while using KDE or XFCE.

edit: When I say I don't notice anything like it, I mean _anything_ like it. There are no broken cords or a bad power outlet on the way.
I'm running Debian

[2019-11-02 05:49] vicr123 commented on #50
Known issue, the power management in theShell really needs some work. Should be fixed in theShell 9.0 :)

Unfortunately the Ubuntu repo is a bit out of date; Ubuntu really hates shipping up to date packages and theShell needs a more recent version than what's currently packaged with Ubuntu 18.04. I'll probably look into packaging a version for Ubuntu 20.04 when it comes out though :)

[2019-11-02 12:10] leocura commented on #50
All good then, is there any way for me to drop that specific notification as a workaround?

[2019-11-02 19:39] vicr123 commented on #50
Unfortunately not on theShell 7.1 (which is what's on Ubuntu at the moment I'm pretty sure). It was added in theShell Blueprint I think :(

[2019-11-27 18:34] morg-mov opened #51 "How to DualBoot"
Is there any way to Dualboot Windows 10 and theShell OS?

[2019-12-07 00:13] ItsJamie9494 commented on #51
Yes. I would recommend installing Arch Linux alongside Windows 10, and then installing theShell on Arch Linux

[2019-12-09 13:27] vicr123 commented on #50
I've made changes to theShell Blueprint that should resolve this issue. If the issue persists, please reopen the issue and tell me what device it's not working properly with. :)

[2019-12-09 13:27] #50 closed, assigned to nobody

[2019-12-23 00:10] MissingNoIOI opened #52 "Some kind of green notification gets spawned endlessly upon start"
I just wanted to try theShell in my new Arch install via the repo and once I start it some kind of green notification saying "theShell" gets spawned again and again, making the bar unusable and it constantly plays the notification sound.

[2019-12-23 01:04] vicr123 commented on #52
I feel like this is a known bug with power management. Can you try unplugging your computer and seeing if that works for you? You should be able to turn off those notifications in System Settings and you should be able to use theShell

I think I've fixed the bug in theShell Blueprint, so when I finally release the next version of theShell, you should be good.

[2019-12-27 08:51] Akmadan23 opened #53 "Screen resolution"
Pressing the "Adjust Screen Resolution" nothing happens...

[2019-12-27 10:14] vicr123 commented on #53
Hi, you'll need to make sure KScreen and the KDE CLI tools are installed.

[2020-01-11 20:07] TheTechRobo commented on #51
Just open up theShell OS installer and click 'Open partition manager'. Click the Win 10 partition and press the 'resize partition' button. Resize it to your choice. Then click 'new partition', create new partition, and then click the new partition. Type mount point /

Works for me

[2020-01-11 20:08] TheTechRobo commented on #8
@vicr123 I do not think you will release 6.1 when 8.0 is already released

[2020-01-14 22:12] vicr123 commented on #8
Already been fixed in the latest Blueprint.

[2020-01-17 19:02] TheTechRobo commented on #8
@vicr123 What about theShell stable?

[2020-01-18 18:51] vicr123 commented on #8
I'm not too sure, I can't remember what's in stable. I believe I've fixed it though.

[2020-02-03 05:01] OrdanKarris opened #54 "Some basic shortcuts and panel customization would prolly be really useful."
I love this thing so far but i have gripes where for example when i enter gateway menu i would love to use escape to just get out of there and navigation things like these.
Additionaly some basic panel customization would be nice, arrange where the widgets are, maybe app shortcuts? just general QoL.

[2020-02-03 08:14] vicr123 commented on #54
Thanks for the comments, I'll see what I can do :)

[2020-02-15 18:18] chrideefer commented on #34
This happened to me when i used the newer version of theShell.

[2020-02-15 18:19] chrideefer commented on #34
Now i'm using an older version, and when it appeared I also saw it was from the live media!

[2020-02-16 13:09] chrideefer opened #55 "Not good resolutions"
The resolutions in settings aren't fit formost displays. I would reccomend adding 1920x1080 (That's what most moniters are!)

[2020-02-16 13:09] vicr123 commented on #55
What version of theShell are you using? theShell only shows resolutions your monitor claims to support.

[2020-02-16 14:44] chrideefer commented on #55
I don’t know, so how may I find out? Sent from Mail for Windows 10 From: Victor TranSent: Sunday, February 16, 2020 8:09 AMTo: vicr123/theshellCc: BumperPopcorn6; AuthorSubject: Re: [vicr123/theshell] Not good resolutions (#55) What version of theShell are you using? theShell only shows resolutions your monitor claims to support.—You are receiving this because you authored the thread.Reply to this

[2020-02-16 14:48] chrideefer commented on #55
Sorry about that other chat.
Anyway, how do I figure out what version i'm using?

[2020-02-16 14:49] chrideefer commented on #55
I'm on VMware player 15 trying to figure out how to install VMware tools, but then i was trying to change to 1920x1080.

[2020-02-16 15:55] vicr123 commented on #55
It's under the About page in System Settings.

theShell isn't showing 1920x1080 because VMware hasn't told theShell that it supports that resolution. If you're running anything under version 8.1, theShell doesn't manage any of the screens at all; it's all done by KDE.

[2020-02-21 17:18] chrideefer commented on #55
So is there something i can do? What about VMware tools?

[2020-02-21 17:22] chrideefer commented on #55
Also I can't find what version.

[2020-02-25 10:08] Hayao0819 opened #56 "Translation documentation"
Hello, I'm Japanese.
I really like TheShell and I am thinking to translate TheShell into Japanese.
But I can't find TRANSLATORS.md in README.md. Could you tell me where it is?

[2020-02-25 10:13] vicr123 commented on #56
TRANSLATORS.md seems to have been mistakenly moved to the `shell` directory :sweat_smile:

If you want to make translations, I've given you permission to make Japanese translations at https://translate.vicr123.com/ :)

[2020-02-25 10:23] Hayao0819 commented on #56
I already registered there, but couldn't find TheShell project, so I'm currently forking Git into [my repository](https://github.com/Hayao0819/theshell).
I would like to translate TheShell into Japanese with my friends and send a pull request.

[2020-02-25 10:26] Hayao0819 commented on #56
I'm sorry I checked and found TheShell.
I remove the fork and translate it there.

[2020-02-25 10:27] vicr123 commented on #56
I just had a look at the repository and it turns out I haven't yet generated the Japanese translation files. Give me about 20 minutes (hopefully) and I'll go ahead and get that sorted for you :)

[2020-02-25 10:47] vicr123 commented on #56
I've generated the Japanese translation files and they're ready over here: https://translate.vicr123.com/projects/theshell

Translate theShell Desktop first, and then you can translate whatever else you like :upside_down_face:

[2020-02-25 11:43] Hayao0819 commented on #56
Thank you very much
I'll do my best to translate theShell
It seems that my friends will help me together.

[2020-02-25 12:12] yamader opened #57 "Translation page problem"
I am already logged in https://translate.vicr123.com . But I cannot see the contents unless logging out.
I've already cleared browser cache and I also tried using a few other browser , but the issue did not fixed.
![image](https://user-images.githubusercontent.com/45691925/75245831-e6515680-5811-11ea-985d-9119d924b3cc.png)

[2020-02-25 12:39] vicr123 commented on #57
You'll need to tell me your username so I can give you permissions to translate on the website :)

[2020-02-25 12:39] #56 closed, assigned to nobody

[2020-02-25 12:45] yamader commented on #57
Thanks :) My ID is "yamad_linuxer".

[2020-02-25 13:06] vicr123 commented on #57
Done, should work now :)

[2020-02-25 13:06] #57 closed, assigned to nobody

[2020-02-29 03:07] vicr123 commented on #55
You can try installing VMWare Tools and see if that'll set the resolution correctly, but other than that I don't think there's much you can do to resolve it.

[2020-04-20 21:07] zimbipw commented on #48
getting a seg fault on start as well. Using Arch with current updates. Here's the output:
Signal Received: SIGSEGV (Segmentation Fault)

0x5578ec6b5da2: main ??:0
0x7fb21b809d70: killpg ??:0
0x7fb21b5e43fa: dbus_pending_call_get_completed ??:0
0x7fb21b5d66ad: dbus_connection_send_preallocated ??:0
0x7fb21c41e502: qDBusAddSpyHook(void (*)(QDBusMessage const&)) ??:0
0x7fb21c41eb11: qDBusAddSpyHook(v

[2020-04-29 14:55] zimbipw commented on #48
I just realised this was due to missing dependencies, installed the following an dit starts now:
contemporary-widgets-gtk
contemporary-widgets
contemporary-icon
contemporary-cursors
Looks like the PKGFILE needs updating

[2020-06-13 22:01] luismanson opened #58 "[]Packaging"
Hello, I want to try your app because it looks like what i need, however there are no binaries for openSuse, would you consider using something like OpenSuse Build System to provide binaries for different distros?

I'll _try to_ to it myself (spec files scare me).

Thanks!

[2020-06-14 07:40] vicr123 commented on #58
I'm actually in the middle of packaging some of my software for Fedora and I was about to start packaging on openSUSE. I'll let you know when I've set up a repository. :)

[2020-06-24 00:43] ItsElectra opened #59 "This."
![image](https://user-images.githubusercontent.com/59057998/85482957-eed45680-b591-11ea-8406-5865d94f8e5e.png)
Victor, it seems your status bar breaks when enabling it in settings. You might wanna fix that :smile:

[2020-06-25 01:58] vicr123 commented on #59
Known bug, thanks for letting me know though 😅

Should fix itself if you get out and get back in :)

[2020-06-26 19:13] ItsElectra commented on #59
I got recognised by Victor Tran, I am the happy man alive! 😊

[2020-07-01 12:59] CactiChameleon9 opened #60 "Startup/autostart not working"
I try to add an app to startup autostart, but after going through the menus, it does not apper on the list of autostart apps (empty), and does not work. I have tried adding a command as well, but the same result. Could it be a directory not existing issue?

[2020-07-01 13:08] vicr123 commented on #60
theShell follows the XDG autostart specification so if you look in `~/.config/autostart` you'll find all of the files. Try copying a desktop file from `/usr/share/applications` there and it should hopefully work 😅

As for the UI, I'm not too sure why that's broken. I'll need to look into it.

[2020-07-01 13:11] CactiChameleon9 commented on #60
Wow, you replied fast... Thanks! I will try what you suggested and get back to you

[2020-07-01 13:12] CactiChameleon9 commented on #60
I just made the .config/autostart folder, and then adding one from the ui worked, so you may want to add a mkdir command in your code somewhere, thanks for replying again!

[2020-07-01 17:48] vicr123 commented on #60
Gotcha. I'll just need to make sure the GUI creates the autostart folder if it's not already there. Thanks for letting me know :)

[2020-07-01 17:52] CactiChameleon9 commented on #60
Good, glad that I helped. Where should I make feature requests?

[2020-07-01 17:53] CactiChameleon9 commented on #60
should probably keep open until you add the code... :D. (Unless if you want to close it)

[2020-07-01 18:12] vicr123 commented on #60
Feature requests can be here too, but theShell is currently nearing EOL.

If you're still interested in a desktop environment from me, check out theDesk.

[2020-07-01 18:27] CactiChameleon9 commented on #60
The shell is near end of life? Really? Wow... Did you post about that on your website? I have briefly tried the desk - there wasnt much info about it, so I stayed with the shell.

1 Jul 2020 19:13:45 Victor Tran <notifications@github.com>:

Feature requests can be here too, but theShell is currently nearing EOL.

If you're still interested in a desktop environment from me, check out theDesk.

—
Yo

[2020-07-01 18:41] vicr123 commented on #60
I have not formally announced that theShell is EOL yet but once theDesk is released I will be encouraging everyone to shift over to theDesk.

I announce most of my software releases and general announcements on Discord.

[2020-07-01 18:44] CactiChameleon9 commented on #60
Yeah, that makes sense. I tend to stay away from discord myself for privacy concerns. Will shellOS be renamed? (Not that I use it, just interested)

1 Jul 2020 19:42:47 Victor Tran <notifications@github.com>:

I have not formally announced that theShell is EOL yet but once theDesk is released I will be encouraging everyone to shift over to theDesk.

I announce most of my software releases and gene

[2020-07-01 18:46] vicr123 commented on #60
Most likely; stay tuned for updates 🙃

[2020-07-01 19:15] CactiChameleon9 commented on #60
Do you recommend I switch now, or should I wait until the offical release? (Very off topic :D)

1 Jul 2020 19:47:26 Victor Tran <notifications@github.com>:

Most likely; stay tuned for updates 🙃

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub[https://github.com/vicr123/theshell/issues/60#issuecomment-652586659], or unsubscribe[ht

[2020-07-01 19:27] vicr123 commented on #60
Your choice. You can also theoretically run it next to theShell if you wanted. :)

[2020-09-07 14:49] halian opened #61 "Arch Linux: Multiple errors during compilation"
When attempting to add theShell to my Arch Linux installation, I get the following compilation errors, which cause compilation to fail:

[code]

[2020-12-03 20:00] foxsouns commented on #61
ive been experiencing the same thing! trying to compile on my arch linux installation brought up this near the end:

[code]

there were also many errors involving package dependencies, in which i had to go through and download around 10 or so of them because it wouldnt do so automatically. i think it needs to be updated, maybe? not sure.

[2020-12-03 20:03] itstoast27 commented on #61
i would send the whole compilation from start to finish, but kitty didnt have the history saved from it.

[2020-12-03 20:11] foxsouns commented on #61
heres the compilation after a retry.
https://pastebin.com/bB7WCa0c

[2020-12-03 23:02] vicr123 commented on #61
Hey, thanks for letting me know. I've fixed compilation errors on the blueprint version of theShell, so give the `theshell-blueprint` package a go and let me know if it works.

I'd also like to draw your attention to theDesk, which is under active development and will be replacing theShell in the future: https://github.com/vicr123/thedesk

[2020-12-10 20:15] halian commented on #61
@vicr123 Blueprint doesn't work, unfortunately; it fails due to a missing file, to wit:

[code]

[2020-12-11 01:38] vicr123 commented on #61
Hey there, check if `modemmanager-qt` is installed. Should be a dependency but I think I might have missed it.

[2020-12-11 15:24] halian commented on #61
It was not installed, so it was missed as a dependency in the AUR; now that it is, `synaptics-properties.h` is missing, causing a compilation failure on `Input/mousepane.cpp`.

[2020-12-13 06:47] vicr123 commented on #61
`xf86-input-synaptics` is the package you need :)

[2020-12-19 11:53] drxjason opened #62 "Display resolution"
Even after installing the dependencies of theshell (even `kde-cli-tools` and `kscreen`), I still can't adjust screen resolution, I have tried `xrander` but doesn't work either. :/ what can I do?

[2021-04-17 16:39] that1polish opened #64 "memory issue"
i am having a memory issue with the shell what is the limit

[2021-06-14 00:50] TheTechRobo commented on #64
I believe theShell has been discontinued, as its codebase wasn't too great.

Try out theDesk if you want a successor.

[2021-06-14 00:51] TheTechRobo commented on #64
I believe theShell has been discontinued, as its codebase wasn't too great.

Try out theDesk if you want a successor.

[2021-06-14 20:53] that1polish commented on #64
Thanks, I'll check it out.

On Sun, Jun 13, 2021 at 8:51 PM TheTechRobo ***@***.***>
wrote: